@page "/"
@page "/Recommend"
@inject IJSRuntime JS

<div class="d-flex" style="position:absolute; height: 100%; width: 100%">
    <SwiperContainer @ref="_swiper"
                     class="flex-grow-1"
                     direction="vertical"
                     mousewheel="true"
                     keyboard="true"
                     focusable-elements="button"
                     no-swiping-selector=".m-btn"
                     loop="true">
        @for (int i = 0; i < 9; i++)
        {
            <SwiperSlide @key="i" class="pa-2" style="box-sizing: border-box">
                <VideoPlayer Style="width: 100%; height: 100%" />
            </SwiperSlide>
        }
    </SwiperContainer>
    <div class="d-flex flex-column justify-center pa-2">
        <MButton Fab Class="mb-1" OnClick="() => _swiper.SlidePrevAsync()">
             <MIcon>mdi-chevron-up</MIcon>
         </MButton>
         <MButton Fab Class="mt-1" OnClick="() => _swiper.SlideNextAsync()">
             <MIcon>mdi-chevron-down</MIcon>
         </MButton>
     </div>
 </div>

 @code {
    private SwiperContainer _swiper = null!;
 }